:root {
    --dark : #374151;
    --darker: #1F2937;
    --darkest: #000000;
    --light: #EEE;
    --blue: #94bef5;
    --darkblue: #4b00fa;
}

body {
    text-align: center;
    font-style: italic;
}