<!DOCTYPE html>
<html lang = 'en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <title>Qlympicious</title>
        <link rel ="stylesheet" href = "{{url_for('static', filename = 'ultimate.css')}}">

    </head>


    <body>
        <br>

        <div class = "container">
            <div class = "teamlogo">
                <img src="{{url_for('static', filename = 'assets/teamlogo.png')}}" class = "teamlogo" alt="teamlogo">
            </div>

            <div class = "websitelogo">
                <img src="{{url_for('static', filename = 'assets/websitelogo2.png')}} " class = "websitelogo" alt = "websitelogo">
            </div>

            <div class = "banner">
                <header class="olympicious">
                    <p>Fun Fact</p>
                </header>
            </div>

            
        </div>

        <div class = "stats-box">
            <form action = "/submitquiz" method="post">
                <h4>Your Score: {{ score }}</h4>
                <p><i>{{ compliment }}</i></p>
                
                <br>

                <p>Here is a crazy Olympics fact for you: </p>
                <p>{{ fact }}</p>

                <br>

                <p>Thank you for visiting our website</p>
            </form>

            <br>
            <br>

            <form action="/" method = "get">
                <input type = "submit", name = "back", value = "Home">
            </form>
            <br>
            <br>
            
        </div>        
    </body>
</html>