<!DOCTYPE html>
<html lang = 'en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <title>Qlympicious</title>
        <link rel ="stylesheet" href = "{{url_for('static', filename = 'ultimate.css')}}">

    </head>

    <body>
        <br>
        <br>

        <header class = "banner">
            <div class="olympicious">
                <p>Olympicious</p>
            </div>
            
        </header>

        <br>
        <br>
        <div class = "stats-box">
            <h4>Welcome to the Olympic-ious, an interactive platform that brings together fans, athletes, and fun quizzes.
                Join in and fuel your passion for the games!</h4>
                <br>

            <form action = "/summary" method="post">
                <h4>Enter you desired country</h4>
                <input type="text" name="country" required>
                <input type ="submit" name="submitform" value="Submit">
            </form>
        </div>
    </body>
</html>