<!DOCTYPE html>
<html lang = 'en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <title>Qlympicious</title>
        <link rel ="stylesheet" href = "{{url_for('static', filename = 'ultimate.css')}}">

    </head>

    <body>

        <header class = "banner">
            <h1>Welcome to Olympicious</h1>
        </header>

        <br>
        <br>
        <div class = "container">
            <div class = "stats-box gradient1">
                <form action = "/submitquiz" method="post">
                    <h1>History of Countries</h1>
                    <input type="text" name="country" required>
                    <input type ="submit" name="submitform" value="Submit">
                </form>
                <h1>Olympic Summary for {{ country }}:</h1>
                <form action = "/submitquiz", method = "post">
                    <h4>
                        {{ stats }}
                    </h4>
                </form>
            </div>

            <div class = "rectangular-box gradient2">
                <form action = "/submitquiz" method="post">
                    <h2> Quiz on Olympics</h2>
                {% for question in questions_list%}
                    <h4>
                        {{question.question}}<br>
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option1}}"> {{question.option1}}
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option2}}"> {{question.option2}}
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option3}}"> {{question.option3}}

                    </h4>
                {% endfor %}<br>
                <input type ="submit" name="submitform" value="Submit">
                
                </form>
                
            </div>
        </div>
    </body>
</html>