<!DOCTYPE html>
<html lang = 'en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, 
        initial-scale = 1.0">
        <title>Qlympicious</title>
        <link rel ="stylesheet" href = "{{url_for('static', filename = 'ultimate.css')}}">

    </head>

    <body>
        <br>
        <br>

        <header class = "banner">
            <div class="olympicious">
                <h1>Quiz Time</h1>
            </div>
            
        </header>
        <div class = "rectangular-box">
                <form action="/submitquiz", method="post">
                {% for question in questions_list%}
                    <h5>
                        {{question.question}}<br>
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option1}}"> {{question.option1}}
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option2}}"> {{question.option2}}
                    <input type ="radio" name="{{question.q_id}}" value="{{question.option3}}"> {{question.option3}}

                    </h5>
                {% endfor %}

                    <input type ="submit" name="submitform" value="Submit"> 
            </form>
        </div>
    </body>
</html>