<!DOCTYPE html>
<html lang = 'en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <title>Qlympicious</title>
        <link rel ="stylesheet" href = "{{url_for('static', filename = 'ultimate.css')}}">

    </head>

    <body>
        <br>

        <div class = "container">
            <div class = "teamlogo">
                <img src="{{url_for('static', filename = 'assets/teamlogo.png')}}" class = "teamlogo" alt="teamlogo">
            </div>

            <div class = "websitelogo">
                <img src="{{url_for('static', filename = 'assets/websitelogo2.png')}} " class = "websitelogo" alt = "websitelogo">
            </div>

            <div class = "banner">
                <header class="olympicious">
                    <p>Analysis</p>
                </header>
            </div>

            
        </div>

        <br>
        <br>

        <div class = "stats-box">
            <form action = "/stats" method="post">
                <h4>Showing the medal tally for top 10 Countries which are part of Olypics:</h4>
            </form>
            
            <form action = "/quiz" method = "post">
                <input type ="submit" name="submitpage" value="Next">
            </form>

        </div>        
    </body>
</html>